@mixin cardLayout() {
  padding: 8px;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 245px;
}

@mixin additionLayout() {
  .addition {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
    padding-top: 8px;

    &__wrapper {
      flex: 0 0 50%;
      padding: 4px;

      .item {
        font-size: 14px;
        min-height: 35px;
        display: flex;
        padding: 0 4px;
        align-items: center;

        span {
          margin-right: 4px;
        }
      }
    }
  }
}